{
  "presets": [
    "latest",
    "stage-3"
  ],
  "plugins": [
    "add-module-exports"
  ],
  "env": {
    "production": {
      "ignore": [
        "*.test.*"
      ],
      "comments": false
    }
  }
}